<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKMDyCyxVusf1PB6mB_ZjCKA4iPwIorRg</string>
	<key>GCM_SENDER_ID</key>
	<string>60151611391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>aridnik-share-63b24</string>
	<key>STORAGE_BUCKET</key>
	<string>aridnik-share-63b24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60151611391:ios:43f2edf9343999cb0af1ca</string>
</dict>
</plist>